---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactSection from "../components/Contact";
import ContactForm from "../components/ContactForm";

const schedulingLink = import.meta.env.PUBLIC_SCHEDULING_LINK;
const telephone = import.meta.env.PUBLIC_CONTACT_TELEPHONE;
const fax = import.meta.env.PUBLIC_CONTACT_FAX;
const contactParam = new URL(Astro.request.url).searchParams.get("contact");
const message =
  contactParam === "success"
    ? {
        text: "✅ Your message was sent successfully.",
        class:
          "mb-4 rounded border border-green-300 bg-green-100 p-4 text-green-800",
      }
    : contactParam === "error"
      ? {
          text: "❌ Something went wrong. Please try again later.",
          class:
            "mb-4 rounded border border-red-300 bg-red-100 p-4 text-red-800",
        }
      : null;
---

<BaseLayout title="Contact Us">
  <ContactSection
    fax={fax}
    schedulingLink={schedulingLink}
    telephone={telephone}
  />
  <ContactForm client:load />
  {message && <div class={message.class}>{message.text}</div>}
</BaseLayout>
