---
import family75 from "../assets/marketing/family75.jpg";
import QRCode from "./QRCode";

const { contactEmail, schedulingLink, siteBaseDomain, telephone, fax } =
  Astro.props;
---

<section id="contact" class="w-full bg-gray-100 px-4 py-12 text-center">
  <div
    class="mx-auto flex max-w-4xl flex-col items-center justify-center gap-6 md:flex-row"
  >
    <img
      src={family75.src}
      alt="Family lifestyle photo, mom and daughter"
      class="h-auto w-36 rounded shadow-md md:w-48"
    />

    <div class="text-center md:text-center">
      <h3 class="mb-2 text-xl font-semibold text-secondary md:text-2xl">
        Get in Touch
      </h3>

      <h4 class="mb-2 text-sm text-gray-600">
        Telemedicine Visits:
        <br />
        11am–8pm, Tuesday-Thursday
        <br />
        11am-9pm, First Saturday of the month
      </h4>

      <p class="mb-1 text-sm text-gray-600">
        Phone:{" "}
        <a href={`tel:${telephone}`} class="hover:text-primary">
          {telephone}
        </a>
      </p>

      <p class="mb-1 text-sm text-gray-600">
        Fax:{" "}
        <a href={`fax:${fax}`} class="hover:text-primary">
          {fax}
        </a>
      </p>

      <p class="mb-3 text-sm text-gray-600">
        Email:{" "}
        <a
          href={`mailto:${
            contactEmail.includes("@")
              ? contactEmail
              : `${contactEmail}@${siteBaseDomain}`
          }`}
          class="font-semibold text-secondary hover:text-primary hover:no-underline"
        >
          {
            contactEmail.includes("@")
              ? contactEmail
              : `${contactEmail}@${siteBaseDomain}`
          }
        </a>
      </p>

      <!-- Centered Scheduling Icon -->
      <a
        href={schedulingLink}
        target="_blank"
        rel="noopener noreferrer"
        class="mt-2 inline-flex items-center justify-center gap-2 text-sm font-semibold text-secondary hover:text-primary"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 7V3m8 4V3M5 11h14M5 19h14M5 15h14M4 7h16v14H4z"></path>
        </svg>
        Book an Appointment
      </a>

      <!-- QR Code Component -->
      <div class="mt-6 flex flex-col items-center">
        <p class="mb-2 text-sm text-gray-600">Scan to visit our site:</p>
        <QRCode />
      </div>
    </div>
  </div>
</section>
